*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(28,27,27);
    color: white;
    font-family: sans-serif;
}
#Main{
    height: 100vh;
    width: 220px;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 100px;
    position: relative;
    left: 0;
    transition: 0.3s;
}
.item
{
    padding: 10px 20px;
    border-radius:20px ;
    background-color: lightblue;
    color: black;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    

}
button{
    position: absolute;
    left: 230px;
    top: 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 6px 12px;

}
.slide{
    left: -220px !important;
}